body {
  background-color: #fafafa;
}

md-toolbar {
  align-items: center;

  .md-toolbar-tools {
    max-width: $max-width;
  }
}

.container {
  @extend .layout-column;
  align-items: stretch;

  width: 100%;
  max-width: $max-width;

  margin: $space-l auto;
}

.card {
  @extend .layout-column;
  box-sizing: border-box;

  position: relative;
  margin: $space-m;
  padding: $space-m $space-l;

  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
