@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ol {
  counter-reset: item;
}

ol li:before {
  float: left;
  content: counter(item) ".";
  margin-left: -28px;
  counter-increment: item;
  @apply text-gray-500;
}

div.examples:before {
  content: 'e.g.';
  float: left;
}
