@import 'variables';
@import 'ember-paper';

@import 'containers',
  'definition-card',
  'definition-tree';


[data-ember-action]:not(:disabled), a {
  cursor: pointer;
  color: color($primary);
  text-decoration: none;

  transition: color 0.25s;

  &:hover {
    color: color($accent);
  }
}
