{{search-box word=model.word submit=(route-action 'searchWord')}}

{{#each-in groupedDefinitions as |partOfSpeech definitions|}}
  {{definition-card
    word=model
    partOfSpeech=partOfSpeech
    definitions=definitions
  }}
{{else}}
  <div class="card error">
    <h1>Error</h1>
    <p>Word not found.</p>
  </div>
{{/each-in}}
